body {
    background-image: url('image/print/(5).png');
    background-repeat:repeat-y;
    background-size:cover;
    text-align: center;
}
div {
    width: 75%;
    height: 100%;
    top: 100%;
    right: 100%;
    bottom: 100%;
    left: 100%;
    z-index: inherit;
}
table {
    font-family: 华文行楷;
    font-size: x-large;
    margin: auto auto auto auto;
    color: #0033CC;
    text-align: left;
    vertical-align:bottom;
    align-content: center;
    line-height: inherit;
    text-indent: inherit;
    height: 443px;
    width: 594px;
    background-image: url('image/93.gif');
    background-size:100%;
    text-decoration: blink;
}
img.ZZ {
    vertical-align:bottom;
    float: right;
    margin-right: 1px;
    margin-top: 160px;
    width: 130px;
    height: 160px;
    text-align: left;
}
