body {
    background-image: url('image/wallpaper/(3).jpg');
    background-size:auto;
    text-align: center;
    background-repeat:repeat;
}

#div1 {
    text-align: center;
    clip: rect(auto, auto, auto, auto);
    width: auto; 
    height: auto; 
    top: auto; 
    right: auto; 
    bottom: auto; 
    left: auto
}
#tr1 {
    background-position: center;
    border: thin solid #EBEAE6;
    background-color: #000000;
    color: #FFFFFF;
    line-height: normal;
    text-align: center;
    height: 88px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 华文行楷;
}
#table1 {
    border: thin groove #FFFFFF;
    vertical-align: super;
    text-align: center;
    margin: auto;
    background-color: #E4E1DC;
    list-style-type: circle;
}
#div3 {

    text-align: center;
}

a {
    font-size:x-large;
    font-family: 华文行楷;
    color:black;
}
